<h1>Listing visits</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Duration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visits.each do |visit| %>
  <tr>
    <td><%= visit.url %></td>
    <td><%= visit.duration %></td>
    <td><%= link_to 'Show', site_visit_path(@site.id, visit.id) %></td>
    <td><%= link_to 'Edit', edit_site_visit_path(@site.id, visit.id) %></td>
    <td><%= link_to 'Destroy', site_visit_path(@site.id, visit.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Visit', new_site_visit_path(@site.id) %>
