<h1>Listing sites</h1>
Currently tracked sites. Click 'show' to view info on webpages.
<table>
  <tr>
    <th>Name</th>
    <th>Base url</th>
    <th></th>
    <th></th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= site.name %></td>
    <td><%= site.base_url %></td>
    <td><%= link_to 'Show', site %></td>
    <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
