<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Base url:</b>
  <%= @site.base_url %>
</p>

<%= Hash["a"=>100] %>
<br>
<%= @visits%>
<br>
<%= @avg_durations%>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
