<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Base url:</b>
  <%= @site.base_url %>
</p>

<p>
	<b>Visits:</b>
	<%= @site.visits %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
